.m-b3-txt {padding: 15px;} .m-b1 h3, .m-b1 ul {font-size: 16px;	} .m-bg1 {height: 604px;} .bg-advan-2 {padding-bottom: 20px;}
.plans a, .team-plans a {font-size: 13px; padding: 5px 5px;} .news-txt span::before {width: 100%;}
.wrap-reviews p {position: relative; right: 0; top: 0; margin-top: 15px; font-size: 16px;} .wrap-reviews {height: auto;background: transparent; padding-bottom: 25px;} 
.w-man h4 {margin-right: 0;} .wrap-video {height: 250px;} .support {flex-wrap: wrap; justify-content: center;} .sup-txt {margin-top: 15px;} .c2-menu {width: 100%;}
.wrap-serv-ico {flex-wrap: wrap; justify-content: center;} .tarif {width: 100%;} .wrap-vds-1 {width: 90%;} .wrap-vds-icon {width: 100%;}
.plan-1 p:nth-child(2), .plan p:nth-child(2) {margin: 25px 0;} .plan-1 p:last-child {margin-top: 25px;} .vds-plan-1, .vds-plan {height: auto;}
.plan-mounth {margin: 15px 0 35px;} .vds-icon.mr-auto, .vds-icon.ml-auto {margin: auto !important;}
.wrap-map img {width: 290px;}
#spb {
    right: 153px;
    top: 124px;
}
#msk {
	right: 146px;
    top: 152px;
}
#ekb {
    right: 108px;
    top: 141px;
}
#prm {
    right: 121px;
    top: 134px;
}
#hbk {
    right: 58px;
    top: 148px;
}

#hbk p{
	right: 45px;
}