.menu {flex-grow: 1; text-align: center;} .wrap-menu {flex-wrap: wrap;}
.cabinet {flex-grow: 1; text-align: right; margin-top: 15px;} .f1-name, .f1-mail, .f1-phone {width: 200px;} .f1-btn {width: 250px;}
.wrap-map img {width: 100%; margin-top: 60px;}
.navbar-toggler:not(:disabled):not(.disabled) {position: absolute; right: 15px; top: 15px;}
.m-bg1 {height: 579px;} .wrap-advantages {justify-content: space-around;}
.comp-menu a {margin: 15px;} .comp-menu {justify-content: space-around;}
 .news-txt-main {margin-top: 4px;} .news-txt span {margin-bottom: 0;}
 .news-txt h4 {margin-bottom: 0;} .news-txt span::before {bottom: -5px;} .w-man {justify-content: center;}
 .wrap-video {margin-bottom: 35px;} .c2-menu {height: 542px;} .vds-main {height: auto;} .wrap-vds-plan {flex-wrap: wrap; justify-content: space-around;}
 .wrap-vds-1 {width: 33%; margin-bottom: 25px;} .vds-plan-1 { margin:auto;}