body {font-family: 'Roboto', sans-serif; font-weight: 400; background-color: transparent;}
a:link {text-decoration: none;}
button {outline: none; cursor: pointer;}
button:focus, input:focus {outline: none;}
input {outline: none;}
p, h1, h2, h3, h4, h5, h6 {margin: 0; font-family: 'Roboto', sans-serif; font-weight: 500;}
h3 {font-size: 30px;}
h1, h2, h3, h4, h5 {}
h1{}
header {position: relative; z-index: 100;}
.mg-t-1 {margin-top: 1em;}
.mg-t-2 {margin-top: 2em;}
.mg-t-3 {margin-top: 3em;}
.mg-t-4 {margin-top: 4em;}
.mg-t-5 {margin-top: 5em;}
.mg-t-6 {margin-top: 6em;}
.mg-t-7 {margin-top: 7em;}
.mg-t-8 {margin-top: 8em;}
.mg-t-9 {margin-top: 9em;}
.mg-t-10 {margin-top: 10em;}
.mg-b-1 {margin-bottom: 1em;}
.mg-b-2 {margin-bottom: 2em;}
.mg-b-3 {margin-bottom: 3em;}
.mg-b-4 {margin-bottom: 4em;}
.mg-b-5 {margin-bottom: 5em;}
.mg-b-6 {margin-bottom: 6em;}
.mg-b-7 {margin-bottom: 7em;}
.mg-b-8 {margin-bottom: 8em;}
.mg-b-9 {margin-bottom: 9em;}
.mg-b-10 {margin-bottom: 10em;}
.mg-tb-1 {margin: 0 1em;}
.mg-tb-2 {margin: 0 2em;}
.mg-tb-3 {margin: 0 3em;}
.mg-tb-4 {margin: 0 4em;}
.mg-tb-5 {margin: 0 5em;}
.mg-tb-6 {margin: 0 6em;}
.mg-tb-7 {margin: 0 7em;}
.mg-tb-8 {margin: 0 8em;}
.mg-tb-9 {margin: 0 9em;}
.mg-tb-10 {margin: 0 10em;}
.pg-t-10 {padding: 10em 0;}

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.phone {position: absolute; right: 15px; top: 20px;}

.wrap-menu {display: flex; justify-content: space-between; align-items: center; margin-top: 70px;}
.logo img {max-width: 140px; width: 100%;}

.menu a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.cabinet a{
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 12px 36px;
  line-height: 2;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-left: 35px;
  transition: ease-in-out .3s;
}
.cabinet a:first-child {
	margin-left: 0;
}
.menu a{
	margin: 0 14px;
}
.phone a{
  font-size: 13.563px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
}
.m-b1 {
	margin-top: 25px;
	align-items: flex-start;
}
.m-b1 ul{
	padding-left: 140px;
	list-style: none;
	font-size: 18px;
  	color: rgb(255, 255, 255);
  	text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  	margin-bottom: 0;
}
.m-b1 ul li {
	margin-bottom: 60px;
}
.m-b1 li:last-child {
	margin-bottom: 57px;
}
.m-b1 h3{
  font-size: 30px;
  padding-right: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
}


.f1-name, .f1-mail, .f1-phone {
	width: 257px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	padding-left: 22px;
	font-size: 16px;
	font-family: "Roboto Condensed", sans-serif;
  	color: rgb(64, 64, 64);
  	line-height: 1.2;
  	background-color: transparent;
}

.f1-btn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  border-radius: 5px;
  background-color: rgb(246, 146, 89);
  width: 278px;
  height: 40px;
  border: 1px solid rgb(246, 146, 89);
  transition: ease-in-out .3s;
}

.f1-main {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; position: relative; z-index: 10;}

.m-bg1 {
	background: url('/img/bg/bg-1.png') no-repeat top;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 656px;
}

.m-b1 {
	background: url('/img/bg/bg-2.png') no-repeat left top;
	background-size: 645px 335px;
}

.m-b2 {
	padding: 36px 0;
}
.m-b2-form {
	max-width: 1170px;
	margin: 40px auto 36px;
}
.m-b2-form::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 112px;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255, .5);
	z-index: 0;
}
.wrap-map {
	margin-top: 35px;
}


.map-txt {
  	font-size: 14px;
  	color: rgb(51, 51, 51);
  	line-height: 2.25;
	text-align: center;
	margin-top: 45px;
}

.m-b3-txt h4 {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
}
.m-b3-txt p, .m-b3-txt ul {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.125;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin-top: 15px;
}
.m-b3-txt p {
	padding-left: 4px;
}
.m-b3-txt ul {
	padding-left: 18px;
}
.m-b3-txt li {
	margin-top: 17px;
}
.m-b3-txt {
	padding: 40px 92px 55px 65px;
	max-height: 270px;
	margin-top: 40px;
}
.m-b3-txt.txt-1 {
	border-radius: 5px;
	background: radial-gradient(at top, #ff7930, #ff9f5c);
	margin-top: 130px;
}

.m-b3-txt.txt-2 {
	border-radius: 5px;
	background: radial-gradient(54% 82%, #01a0e7, #3774b7);
}

.m-b3-txt.txt-3 {
	border-radius: 5px;
	background: -webkit-linear-gradient(bottom left, #4354de 24%, #4571CC 54%, #4f81af 72%);
	background: -o-linear-gradient(bottom left, #4354de 24%, #4571CC 54%, #4f81af 72%);
	background: linear-gradient(to top right, #4354de 24%, #4571CC 54%, #4f81af 72%);
}

.c-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 235px;
	max-width: 240px;
  margin-bottom: 35px;
}
.c-menu p{
  font-size: 16px;
  color: rgb(47, 47, 47);
  line-height: 1.5;
  font-weight: 400;  
}
.m-b4 h3 {
  font-size: 24px;
  color: rgb(150, 213, 252);
  font-weight: 700;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
}

.wrap-f2-form {
	background: -webkit-linear-gradient(left, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
	background: -o-linear-gradient(left, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
	background: linear-gradient(to right, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
  position: relative;
}

.wrap-f2-form .m-b2-form::after {display: none;}
.foo-txt p{
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(208, 208, 208);
  line-height: 1.5;
  text-align: right;
}
.wrap-footer {display: flex; justify-content: space-between; align-items: baseline; padding: 30px 0;}
footer {}
.bg-footer {background-color: rgb(51, 51, 51);}
.vds-plans h3{
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin-top: 80px;
}
.vds-txt {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin: 60px 0;
}
.plan {
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.vds-main {
	background: url('/img/bg/bg-3.png') no-repeat center;
	background-size: cover;
	height: 865px;
  position: relative;
}
.vds-plan {
	height: 435px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 205px;
}
.plan {
	text-align: center;
	padding: 40px 0;
}
.plan p:nth-child(2) {
	margin: 92px 0;
}
.plan p{
  font-size: 16px;
  color: rgb(254, 254, 254);
}
.plan-mounth p{
	font-size: 16px;
  	color: rgb(254, 254, 254);
	line-height: 4;
	border-radius: 5px;
	border: 1px solid #ffffff;
	text-align: center;
}
.wrap-vds-plan {
	display: flex;
	justify-content: space-between;
}
.vds-plan-1 {
	height: 435px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 205px;
	text-align: center;
	padding: 40px 0;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.plan-1 {
	height: 100%;
}
.plan-1 p{
	font-size: 16px;
  	color: rgb(254, 254, 254);
}
.plan-1 p:nth-child(2) {
	margin: 92px 0;
}
.plan-1 p:last-child {
	font-size: 22px;
	color: #333333;
	margin-top: 85px;
}
.vds-btn {
  border-radius: 5px;
  background-color: rgb(246, 146, 89);
  width: 145px;
  height: 40px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  border: none;
  margin-top: 20px;
  transition: ease-in-out .3s;
}
.wrap-vds-1 {text-align: center;}

.standart-h {
  font-size: 24px;
  color: rgb(31, 31, 31);
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.wrap-vds-icon {width: 33%; margin-bottom: 55px;}
.vds-icon {width: 250px; text-align: center;}
.vds-icon p {
	margin-top: 25px;
    font-size: 18px;
	color: rgb(37, 37, 37);
}

.vds-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}


.standart-h-blue {
  font-size: 24px;
  color: rgb(150, 213, 252);
  font-weight: 700;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 25px;
}
.vds-txt-2{
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 55px;
}

.advantage {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(156, 213, 249);
  height: 180px;
  padding: 35px;
  max-width: 350px;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.advantage p{
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(47, 47, 47);
  line-height: 2;
}

.wrap-menu.header-2 {
    margin-bottom: 32px;
}
.header-2 .menu a {
  color: #333333;
}

.header-2 .cabinet a {
  background: #f69259;
  transition: ease-in-out 0.3s;
}
.header-2 .phone a {
  color: #333333;
}

.footer-2 .foo-txt p {
  color: #333333;
}
.wrap-footer img {
	max-width: 110px;
	width: 100%;
}
.team-b1 {
	background: url('/img/bg/bg-4.png') no-repeat center;
	background-size: cover;
	padding: 61px 0;
}
.standart-h-wh {
	font-size: 24px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
}
.item-txt p {
  font-size: 14px;
  color: rgb(37, 37, 37);
  position: relative;
}
.item-txt p:first-child {
	font-size: 18px;
	margin: 20px 0;
}
.item-txt p:first-child::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #9cd5f9;
	border: 1px solid #d1ebfc;
	bottom: -10px;
	left: 0;
}
.team-item {
	max-width: 285px;
}
.item-img {
	max-width: 210px;
	max-height: 210px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.teams {display: flex; flex-wrap: wrap;justify-content: space-between; margin: 60px 0 80px;}

.data-center p{
 	font-size: 16px;
	color: rgb(37, 37, 37);
	line-height: 2;
	font-weight: 400;
	position: relative;
}
.data-txt {
	font-size: 18px;
  	color: rgb(37, 37, 37);
  	font-weight: 900 !important;
}
.team-b3 {
	background: #e6e6e6;
	padding: 80px 0 120px;
}
.data-center p:nth-child(2) {
	margin-bottom: 50px;
}

.data-center p:nth-child(2)::before {
	content: '';
    position: absolute;
    width: 285px;
    height: 1px;
    background-color: #9cd5f9;
    border: 1px solid #d1ebfc;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.maps {margin-top: 40px;}
.data-txt2 {
	font-size: 18px;
  	color: rgb(37, 37, 37);
  	font-weight: 900 !important;
  	line-height: 2.3;
  	margin: 55px 0;
}
.team-plans {
	text-align: center;
  position: relative;

}
.team-plans a{
  font-size: 14px;
  color: rgb(39, 39, 39);
  line-height: 2;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 15px 45px;
  line-height: 1;
  transition: ease-in-out .3s;
}
.team-plan {
	background: -webkit-linear-gradient(left, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
	background: -o-linear-gradient(left, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
	background: linear-gradient(to right, rgb(179, 164, 217) 0%, #a8c2ed 43%, #a0ffff 80%);
	padding: 95px 0;
  position: relative;
}

.news-b1 {
	padding: 61px 0;
	background: -webkit-linear-gradient(left, #41b6e9 32%, #69A6EA 47%, #a190ee 88%);
	background: -o-linear-gradient(left, #41b6e9 32%, #69A6EA 47%, #a190ee 88%);
	background: linear-gradient(to right, #41b6e9 32%, #69A6EA 47%, #a190ee 88%);
}
.btn-news {
	border-radius: 5px;
  	background-color: rgb(246, 146, 89);
  	color: #ffffff;
  	border: none;
    font-size: 14px;
    width: 145px;
    height: 40px;
    margin-top: 50px;
    transition: ease-in-out .3s;
}
.news-txt h4 {
  font-size: 18px;
  color: rgb(37, 37, 37);
  font-weight: 600;
  margin-bottom: 15px;
}
.news-txt span {
	font-size: 16px;
	color: rgb(37, 37, 37);
	margin-bottom: 20px;
	display: block;
	position: relative;
}
.news-txt span::before {
	content: '';
    position: absolute;
    width: 285px;
    height: 1px;
    background-color: #9cd5f9;
    border: 1px solid #d1ebfc;
    bottom: -15px;
    left: 0;
}
.news-txt-main {
	margin-top: 40px;
}
.news-txt-main p {
  font-size: 16px;
  color: rgb(37, 37, 37);
  line-height: 1.688;
  font-weight: 300;
}
.news-txt {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.news-img {
	width: 50%;
}
.news {
	display: flex;
	margin-top: 60px;
	margin-bottom: 80px;
}
.news-img {
	padding: 0 40px;
	text-align: center;
}
.news-img img {
	width: 100%;
}

.wrap-company {
	background: url('/img/bg/bg-company.png') no-repeat center;
	padding: 80px 0 100px;
}

.wrap-company .standart-h-wh {
	text-align: left;
}

.company p{
	color: #ffffff;
  	font-size: 18px;
  	line-height: 2.5;
  	text-align: left;
  	text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  	font-weight: 400;
  	margin: 65px 0 110px;
}

.comp-menu a{
	border-radius: 5px;
	border: 1px solid #ffffff;
	font-size: 16px;
	color: #ffffff;
	display: block;
	width: 260px;
	height: 40px;
	text-align: center;
	line-height: 2.3;
	font-weight: 300;
  transition: ease-in-out .3s;
}
.comp-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrap-service {
	background: url('/img/bg/sky.png') no-repeat;
	padding: 170px 0 200px;
}

.service-txt p{
  font-size: 22px;
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: center;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
}


.support {
	display: flex;
	align-items: center;
}

.support h4{
  font-size: 18px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  margin-bottom: 20px;
}
.support p {
  font-size: 16px;
  color: rgb(37, 37, 37);
  line-height: 1.875;
}
.support img{margin: 0 40px;}

.sup-txt {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.speed-distr { margin-top: 75px; }

.bg-gray {background: #f2f2f2;}

.service {margin-left: 100px;}

.service h3 {
  font-size: 24px;
  color: rgb(150, 213, 252);
  font-weight: bold;
  line-height: 1;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin: 70px 0 50px;
}

.service ul {
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 2.25;
  text-align: left;
}
.service ul li{
	margin-bottom: 40px;
}
.c2-menu.bg-blue {
  background-color: rgb(156, 213, 249);
}

.c2-menu p{
  font-size: 16px;
  color: rgb(47, 47, 47);
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 400;
}

.c2-menu {
  border-radius: 5px;
  background-color: rgb(208, 208, 208);
  padding: 50px 25px 10px 65px;
  min-height: 470px;
  margin-bottom: 30px;  
}


.st-p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 119px;
}

.ser-h {
  font-size: 24px;
  color: rgb(31, 31, 31);
  font-weight: 700;
  text-align: center;
  margin-top: 119px;
  margin-bottom: 35px
}

.c-buh {
	width: 50%;
	max-width: 450px;
}
.c-buh h3 {
  font-size: 24px;
  color: rgb(31, 31, 31);
  margin-top: 60px;
  margin-bottom: 40px;
}

.c-buh p{
  font-size: 14px;
 
  color: rgb(51, 51, 51);
  line-height: 2.25;
  text-align: left;
  margin-bottom: 25px;

}
.wrap-buh {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.bg-gray-f6 {background: #f6f6f6;}
.wrap-buh::before {
	content: '';
	position: absolute;
	width: 1px;
	height: calc(100% - 40%);
	background: #818181;
	left: 0;
	right: 0;
	top: 90px;
	bottom: 0;
	margin: auto;
}

.c-buh ul {
	padding-left: 15px;
}

.c-buh ul li {
	padding-bottom: 25px;
	font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 2.25;
  text-align: left;
  font-weight: 400;

}

.serv-ico p {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(37, 37, 37);
}

.wrap-serv-ico {display: flex; justify-content: space-between;}
.serv-ico {text-align: center; min-height: 135px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-bottom: 35px;}

.wrap-reviews {
  background: url('/img/bg/bg-5.png') no-repeat right top 50px;
  background-size: 570px;
}

.wrap-reviews {
  height: 500px;
}
.wrap-reviews h4 {
  padding-top: 80px;
  color: rgb(255, 255, 255);
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
}


.wrap-reviews p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 2.2;
  text-align: left;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  position: absolute;
  right: 115px;
  top: 217px;
}

.w-man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 0 0;
}
.w-man h4{
  font-size: 18px;
  color: rgb(37, 37, 37);
  margin-right: 110px;
}

.sergeevna {
  padding: 30px;
  margin-bottom: 35px;
}
.sergeevna p{
  font-size: 16px;
  color: rgb(37, 37, 37);
  line-height: 1.688;
  text-align: left;
  margin-bottom: 30px;
}

.w-man img:first-child {
  max-width: 110px;
  max-height: 110px;
  width: 100%;
}

.w-man img:last-child {
  max-width: 54px;
  max-height: 57px;
  width: 100%;
}

.w-man::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 284px;
  height: 1px
  background-color: rgb(56, 56, 56);
  border: 1px solid rgb(156, 213, 249);
}

.wrap-video {
  width: 100%;
  height: 633px;
  background-color: #9cd5f9;
  border: 1px solid #6792c9;
  background-image: url('/img/icons/play.png');
  background-size: 70px;
  background-position: center; 
  background-repeat: no-repeat;
}

.standart-h.mg-0 {
  margin: 25px 0;
}


.bg-advan {
  /*background-color: #e6e6e6;*/
  background-image: url('/img/bg/bg-6.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 70px 0;
  background-position-x: 150px;
}

.adv-1 {
  border-radius: 5px;
  max-width: 240px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.14px 1.995px 5.67px 1.33px rgba(0, 0, 0, 0.39);
  height: 170px;
  margin-bottom: 35px;
}
.adv-1 p{
  padding-left: 15px;
  font-size: 14px;
  color: rgb(41, 41, 41);
  text-align: left;
  margin-top: 35px;
}

.wrap-adv {
  background: -webkit-linear-gradient(bottom left, #728cc3 24%, #8a87bd 72%);
  background: -o-linear-gradient(bottom left, #728cc3 24%, #8a87bd 72%);
  background: linear-gradient(to top right, #728cc3 24%, #8a87bd 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.wrap-adv h5 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  font-weight: 300;
}


.bg-2 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #8a87bd 24%, #a182b9 72%);
  background: -o-linear-gradient(bottom left, #8a87bd 24%, #a182b9 72%);
  background: linear-gradient(to top right, #8a87bd 24%, #a182b9 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-3 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #9f82b9 24%, #b37eb6 72%);
  background: -o-linear-gradient(bottom left, #9f82b9 24%, #b37eb6 72%);
  background: linear-gradient(to top right, #9f82b9 24%, #b37eb6 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}
.bg-4 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: -o-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: linear-gradient(to top right, #8787bd 24%, #a082b9 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-5 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #78decc 24%, #8ce2d6 72%);
  background: -o-linear-gradient(bottom left, #78decc 24%, #8ce2d6 72%);
  background: linear-gradient(to top right, #78decc 24%, #8ce2d6 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-6 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: -o-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: linear-gradient(to top right, #85d1c7 24%, #abe6da 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-7 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: -o-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: linear-gradient(to top right, #abe6da 24%, #30d2c8 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-8 .wrap-adv {
  background: -webkit-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: -o-linear-gradient(bottom left, #8787bd 24%, #a082b9 72%);
  background: linear-gradient(to top right, #30d2c8 24%, #2ecbc3 72%);
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.bg-advan-2 {
  background: linear-gradient(to bottom right, #2dbee8 24%, #a28fee 72%);
  padding: 60px 0;
  position: relative;
}
.adv-txt h4 {
  color: rgb(255, 255, 255);
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 30px;
}
.adv-txt p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: left;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 25px;
  font-weight: 300;
}


.tarif {
  padding: 25px 25px 30px;
  width: 48%;
  margin: 50px 0 0;
  border-radius: 5px;
}
.wrap-tarif {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tarif p:first-child {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(29, 29, 29);
  font-weight: 300;
  text-align: right;
  margin-bottom: 20px;
}

.tarif h4 {
  font-size: 18px;
  color: rgb(254, 254, 254);
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
}

.tarif p:last-child {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-shadow: 1.888px 2.331px 1px rgba(0, 0, 0, 0.13);
  font-weight: 300;
}


.tarif.bg-1 {
  background: -webkit-linear-gradient(top left, #4459de 24%, #029ee5 72%);
  background: -o-linear-gradient(top left, #4459de 24%, #029ee5 72%);
  background: linear-gradient(to bottom right, #4459de 24%, #029ee5 72%);
}

.tarif.bg-2 {
  background: -webkit-linear-gradient(bottom left, #029ee5 24%, #4459de 72%);
  background: -o-linear-gradient(bottom left, #029ee5 24%, #4459de 72%);
  background: linear-gradient(to top right, #029ee5 24%, #4459de 72%);
}

.tarif.bg-3 {
  background: -webkit-linear-gradient(bottom left, #2967ae 24%, #029ee5 72%);
  background: -o-linear-gradient(bottom left, #2967ae 24%, #029ee5 72%);
  background: linear-gradient(to top right, #2967ae 24%, #029ee5 72%);
}

.tarif.bg-4 {
  background: -webkit-linear-gradient(bottom right, #2967ae 24%, #029ee5 72%);
  background: -o-linear-gradient(bottom right, #2967ae 24%, #029ee5 72%);
  background: linear-gradient(to top left, #2967ae 24%, #029ee5 72%);
}

.tarif.bg-5 {
  background: -webkit-linear-gradient(top left, #ffa05e 24%, #ff7a32 72%);
  background: -o-linear-gradient(top left, #ffa05e 24%, #ff7a32 72%);
  background: linear-gradient(to bottom right, #ffa05e 24%, #ff7a32 72%);
}

.wrap-tarify h4 {
  font-size: 24px;
  color: rgb(150, 213, 252);
  font-weight: bold;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
}
.wrap-tarify p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 50px;
}
.wrap-tarify .tarify p {
  margin-bottom: 0;
}
.tarify p{
  font-size: 16px;
  color: rgb(41, 41, 41);
  font-weight: bold;
  text-align: left;
  padding: 10px 10px 0 15px
}

.tarify {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.14px 1.995px 5.67px 1.33px rgba(0, 0, 0, 0.39);
  max-width: 290px;
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
}
.tar-h {border-radius: 0 0 5px 5px; padding: 5px 0 5px;}
.tar-h h5{
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 300;
  padding-left: 15px;
}
.wp-tarify {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tar-h.bg-1 {
  background: -webkit-linear-gradient(top left, #6fbadf 24%, #97a8cf 72%);
  background: -o-linear-gradient(top left, #6fbadf 24%, #97a8cf 72%);
  background: linear-gradient(to bottom right, #6fbadf 24%, #97a8cf 72%);
}

.tar-h.bg-2 {
  background: -webkit-linear-gradient(top left, #67dacb 24%, #92e4d1 72%);
  background: -o-linear-gradient(top left, #67dacb 24%, #92e4d1 72%);
  background: linear-gradient(to bottom right, #67dacb 24%, #92e4d1 72%);
}
.tar-h.bg-3 {
  padding: 15px 0;
  border-radius: 0;
  background: -webkit-linear-gradient(top left, #67dacb 24%, #92e4d1 72%);
  background: -o-linear-gradient(top left, #67dacb 24%, #92e4d1 72%);
  background: linear-gradient(to bottom right, #67dacb 24%, #92e4d1 72%);
}
.tar-last {justify-content: center;}

.tar-h.bg-3 h5 {font-size: 18px; color: rgb(51, 51, 51); font-weight: 400; text-align: center;}

.sertificats {
	display: flex;
	justify-content: space-around;
  margin-bottom: 35px;
}

.wrap-ur {
	margin-top: 40px;
}
.wrap-ur h5{
	margin: 20px 0 0px;	
}

.wrap-ur p:nth-child(2), .wrap-ur p:nth-child(4) {
	margin-top: 5px;	
}
.wrap-ur p{
	margin-top: 20px;
	font-weight: 300;
}

.plans {
	text-align: center;
	margin: 100px 0;
}

.plans a {
	border: 1px solid #333333;
	padding: 10px 25px;
	border-radius: 5px;
	color: #333333;
  transition: ease-in-out .3s;
}

.navbar-collapse {flex-grow: 0;}

.navbar-expand-lg {justify-content: center;}
.navbar {display: none;}

.header-2 .menu a {padding: 0 0 5px; position: relative;}

.header-2 .menu a:hover::after, .header-2 .menu a:focus::after {
    height: 1px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.header-2 .menu a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333333;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.menu a {padding: 0 0 5px; position: relative;}

.menu a:hover::after, .menu a:focus::after {
    height: 1px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.menu a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffffff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cabinet a:hover,.vds-btn:hover, .comp-menu a:hover, .btn-news:hover{
  background: rgb(276, 168, 97);
}
 .f1-btn:hover {
  background: rgb(276, 168, 97);
  border: 1px solid rgb(276, 168, 97);
 }
.plans a:hover, .team-plans a:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #333333;
}
