.m-b1 {flex-wrap: wrap;} .m-b1 h3, .m-b1 ul{width: 100% !important; padding: 0;} .f1-name, .f1-mail, .f1-phone { width: 250px; margin-top: 10px; }
.f1-main {flex-direction: column; align-items: center; justify-content: center;} .m-b1 {background-size: contain;} .m-b3-txt {max-height: none;}
.m-bg1 {height: 609px;}